.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    background-color: rgb(47, 188, 210);
    color: rgb(51, 51, 51);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

header {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

header > img {
    width: 100px;
    height: 100px;
}

header > nav {
    background-color:aliceblue;
    display: flex;
}

footer {
    background-color: aquamarine;
}