.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    background-color: rgb(47, 188, 210);
    color: rgb(51, 51, 51);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
}

header {
    background-color: aquamarine;
}

header > nav {
    background-color:aliceblue;
}